*{
    margin: 0;
    box-sizing : border-box;

  
}
header {
    background-color: #f1f1f1 ;
    text-align : center ;
    font-family: 'Charmonman', cursive ;
    padding  : 30px;
    
    }
h1{
    color: white;
}
.content 
{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 45px;
    background-image: "hanna.jpeg";

}
@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: burlywood;}
}
/*.dp
{
    z-index:2;
    width: 100%;
}*/

    
.nav 
{
    overflow: hidden;
    background-color: #333;
    font-family: "Quicksand" , monospace;
}
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.dropdowne {
    position: static;
    display: inline-block;
    font-family: "Dosis", sans-serif;
    font-size: 27px;
    
}

.dropdown-contente {
    display: none;
    position: static;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(247, 8, 8, 0.2);
  min-height: 50px;
  max-height:500px;
    z-index: 1;
}

.dropdowne:hover .dropdown-contente {
    display: block;
    -webkit-animation: mymove 5s infinite;

}
image{
    opacity: 0.6;
    width: 100%;
}
.date
{
    color: red;
}
footer{
    background-color: rgb(125, 210, 238);
    width: 100%;
}